@model Entities.Product

<body>
    <div>
        ID: @Model.ProductId
    </div>
    <div>
        Nombre: @Model.ProductName
    </div>
    <div>
        Precio: @Model.UnitPrice
    </div>
    <div>
        Existencia: @Model.UnitsInStock
    </div>
</body>