@{
    ViewData["Title"] = "Acceso Denegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Acceso Denegado</h1>
<p>No tienes permisos para acceder a esta página.</p>
<a asp-controller="Account" asp-action="Login">Volver al inicio de sesión</a>